{{ 'french-landing.css' | asset_url | stylesheet_tag }}

<section class="text_full--section">
    <div class="inner shredded-border py-80 text-center">
        <h2 class="i-content mw-90 med__title">
            <span class="sp-quote">“</span>
            Nothing artificial, just real ingredients.
            
        </h2>
        <p class="quote-p">
            As a well-known vegetarian food brand, Simply Food is committed to consumer health, and does not use food coloring, additives, 
            or low quality spices. 
            Our skilled workers are trained on food safety standards to comply with all food safety regulations.
        </p>
        
    </div>
</section>


    <section class="process mw-90 py-120">
        <h2 class="product_header med__title">Our Process</h2>
        <div class="process_div small-d-column">
            <div class="process_info large-w-50 small-w-100 pr-3 ps-0">
                
                    <h3 class="process_heading">
                        <span class="process_heading-span">
                            <img src="{{'instant-noodles1.png' |  asset_img_url: '900x' }}" alt="" class="process_heading-icon">
                        </span>
                        Carefully Selected Materials
                    </h3>
                    <p class="process_p">
                        Our noodles are made from high-quality wheat flour, water, and turmeric extract for yellow color. <br><br>
                        Spice packages are made from refined salt, refined oil, dried vegetables. None of our products include any harmful colorants or additives.
                    </p>
                    
                    <h3 class="process_heading">
                        <span class="process_heading-span">
                            <img src="{{'instant-noodles2.png' |  asset_img_url: '900x' }}" alt="" class="process_heading-icon">
                        </span>
                        Lamination & Cutting
                    </h3>
                    <p class="process_p">
                        The mixed dough is transferred to plate rolling equipment by a conveyor system where it is rolled and then cut to the appropraite size.
                    </p>

                    <h3 class="process_heading">
                        <span class="process_heading-span">
                            <img src="{{'instant-noodles3.png' |  asset_img_url: '900x' }}" alt="" class="process_heading-icon">
                        </span>
                        Steaming
                    </h3>
                    <p class="process_p">
                        Next, the noodles are steamed using high pressure and elevated temperature to prepare them for packaging.
                    </p>
                
            </div>

            <div class="process_image-box large-w-50 small-w-100">
                <img src="{{'vietnam_rice.png' |  asset_img_url: '900x' }}" alt="" class="img-fit">
            </div>
        </div>
    </section>


    <section class="process">
        <div class="shredded-border">
        <div class="process_div small-d-column mw-90 py-80">
            <div class="process_image-box large-w-50 small-w-100 pr-3 ps-0 ">
                <img src="{{'pasta1.png' |  asset_img_url: '900x' }}" alt="" class="img-fit">
            </div>
            
            <div class="process_info large-w-50 small-w-100 ">
                
                    <h3 class="process_heading">
                        <span class="process_heading-span">
                            <img src="{{'instantnoodles6.png' |  asset_img_url: '900x' }}" alt="" class="process_heading-icon">
                        </span>
                        Cutting and Shaping
                    </h3>
                    <p class="process_p">
                        After being drained, the noodles are stretched, cut into slices, dried and then shaped before frying.
                    </p>
                    
                    <h3 class="process_heading">
                        <span class="process_heading-span">
                            <img src="{{'instant-noodles5.png' |  asset_img_url: '900x' }}" alt="" class="process_heading-icon">
                        </span>
                        Frying
                    </h3>
                    <p class="process_p">
                        Frying noodles helps to reduce moisture and shape the noodle before packing. In addition, the frying temperature helps to preserve the noodles and kills any bacteria or microorganisms that may otherwise occur.
                    </p>

                    <h3 class="process_heading">
                        <span class="process_heading-span">
                            <img src="{{'instant-noodles4.png' |  asset_img_url: '900x' }}" alt="" class="process_heading-icon">
                        </span>
                        Cooling
                    </h3>
                    <p class="process_p">
                        Noodles are cooled quickly using fresh wind taken from the natural environment and filtered by modern equipment.
                    </p>
                
            </div>

            
        </div>
    </div>
    </section>


    <section class="process">
        <div>
        <div class="process_div small-d-column mw-90 pt-120">
           
            <div class="process_info large-w-50 small-w-100  pr-3 ps-0">
                
                    <h3 class="process_heading">
                        <span class="process_heading-span">
                            <img src="{{'instant-noodles7.png' |  asset_img_url: '900x' }}" alt="" class="process_heading-icon">
                        </span>
                        Packing
                    </h3>
                    <p class="process_p">
                        Noodles are packed and sealed, with expiration dates printed clearly.
                    </p>
                    
                    <h3 class="process_heading">
                        <span class="process_heading-span">
                            <img src="{{'instant-noodles8.png' |  asset_img_url: '900x' }}" alt="" class="process_heading-icon">
                        </span>
                        Shipping
                    </h3>
                    <p class="process_p">
                        The freshest, cleanes and most delicious noodle packages are delivered to supermarkets, distributors, and retailers to be enjoyed by consumers around the world.
                    </p>
                
            </div>

            <div class="process_image-box large-w-50 small-w-100">
                <img src="{{'packing.png' |  asset_img_url: '900x' }}" alt="" class="img-fit">
            </div>
            
            
        </div>

        <p class="text-center mt-40 mb-100"><a href="/collections/products" class="Button Button--primary">SHOP PRODUCTS</a></p>
    </div>
    </section>


    <section class="text_full--section text-center ">
        <div class="inner shredded-border py-80">
            <h2 class="i-content mw-90 med__title">
                <span class="sp-quote">“</span>
                Our Story
            </h2>

            <p class="quote-p">
                As a family business established in 1960, Simply Food takes pride in our careful selection of ingredients, our modern and 
                meticulous processing of noodles, and our focus on quality. We are proud to be one of the largest food 
                manufacturers specializing in premium vegetarian instant ramen and rice products, which are both healthy and convenient to use.
            </p>
            
        </div>
    </section>


    
    <section class="process">
        <div>
        <div class="process_div small-d-column mw-90 py-120">
            
            <div class="process_image-box large-w-50 small-w-100  pr-3 ps-0">
                <img src="{{'egg-noodles.png' |  asset_img_url: '900x' }}" alt="" class="img-fit">
            </div>

            <div class="process_info large-w-50 small-w-100  flex-center-middle">
                 <h3 class="avg__title mb-2">
                    Our Promise to You
                 </h3>
                
                    <p class="process_p">
                        As a leading manufacturer of premium rice and noodle products, our focus is on providing the
                         highest quality vegetarian items that are healthy and easy to use.
                    </p>

                    <h3 class="process_heading n-font-size">
                        <span class="process_heading-span">
                            <img src="{{'check-mark.png' |  asset_img_url: '900x' }}" alt="" class="process_heading-icon">
                        </span>
                       High Quality
                    </h3>
                    <p class="process_p ml-40p pb-1">
                        Carefully selected ingredients
                    </p>

                    <h3 class="process_heading n-font-size">
                        <span class="process_heading-span">
                            <img src="{{'check-mark.png' |  asset_img_url: '900x' }}" alt="" class="process_heading-icon">
                        </span>
                       Healthy
                    </h3>
                    <p class="process_p ml-40p pb-1">
                        No preservatives or additives
                    </p>

                    <h3 class="process_heading n-font-size">
                        <span class="process_heading-span">
                            <img src="{{'check-mark.png' |  asset_img_url: '900x' }}" alt="" class="process_heading-icon">
                        </span>
                       Vegetarian
                    </h3>
                    <p class="process_p ml-40p pb-1">
                        Premium vegetarian instant ramen and rice products
                    </p>

                    <h3 class="process_heading n-font-size">
                        <span class="process_heading-span">
                            <img src="{{'check-mark.png' |  asset_img_url: '900x' }}" alt="" class="process_heading-icon">
                        </span>
                       Convenient
                    </h3>
                    <p class="process_p ml-40p pb-1">
                        Easy to use without compromising on quality
                    </p>
            </div>

        </div>
    </div>
    </section>


    <section class="process">
        <div class="shredded-border">
        <div class="process_div small-d-column mw-90 py-80">
            
            
            <div class="process_info large-w-50 small-w-100  pr-3 ps-0 flex-center-middle">
                 <h3 class="avg__title mb-2">
                    Quality is our Brand and Responsibility
                 </h3>
                
                    <p class="process_p">
                        We take our commitment to quality seriously and stand by our products. 
                        All of the ingredients we use are carefully inspected and do not contain any harmful colorants or additives. 
                        When you buy from Simply Foods, you know you are buying quality.
                    </p>
            </div>

            <div class="process_image-box large-w-50 small-w-100">
                <img src="{{'quality.png' |  asset_img_url: '900x' }}" alt="" class="img-fit">
            </div>
            
        </div>
    </div>
    </section>


    <section class="process">
        <div>
        <div class="process_div small-d-column mw-90 py-120">
            
            <div class="process_image-box large-w-50 small-w-100  pr-3 ps-0">
                <img src="{{'factory.png' |  asset_img_url: '900x' }} " alt="" class="img-fit">
            </div>

            <div class="process_info large-w-50 small-w-100  flex-center-middle">
                 <h3 class="avg__title mb-2">
                   Our Certifications
                 </h3>
                
                    <p class="process_p">
                        Our manufacturing and production facilities adhere to HACCP and ISO standards, and are certified Halal and Kosher.
                    </p>

                    <div class="img__group">
                        <img src="{{'badge3.png' |  asset_img_url: '900x' }}" class="img-fit" alt="">
                        <img src="{{'badge2.png' |  asset_img_url: '900x' }}" class="img-fit" alt="">
                        <img src="{{'badge4.png' |  asset_img_url: '900x' }}" class="img-fit" alt="">
                        <img src="{{'badge1.png' |  asset_img_url: '900x' }}" class="img-fit" alt="">
                    </div>
            </div>

        </div>
    </div>
    </section>